.friendList {
  display: flex;
  margin-top: 60px;
  gap: 20px;
  justify-content: center;
}

.friend {
  border: 2px solid black;
  padding: 16px;
}

.friend__name {
  font-weight: 500;
}

.friend__status.online {
  color: green;
  font-weight: 600;
}

.friend__status.offline {
  color: red;
  font-weight: 600;
}
