ul {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-block-end: 0em;
}

.profile {
  border: 2px solid black;
  border-radius: 20px;
  margin: 0 auto;
  max-width: 400px;
  overflow: hidden;
}

.profile__avatar {
  margin-top: 20px;
  background-color: cadetblue;
  /* width: 300px; */
  width: 200px; /* Ваша потрібна ширина */
  height: 200px; /* Ваша потрібна висота */
  border-radius: 50%; /* Встановлюємо радіус кута 50% для створення круга */
  object-fit: cover; /* Забезпечуємо, щоб картинка зберігала пропорції і вирівнювалася */
}

.profile__stats {
  display: flex;
  justify-content: center;

  /* gap: 20px; */
  border-top: 2px solid black;
  background: grey;
}

.profile__stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-size: 16px;
  padding-left: 0;
  border-right: 2px solid black;
  padding-left: 20px;
  padding-right: 20px;
}

.profile__stats li:last-child {
  border-right: none;
}

.profile__stats li:first-child {
  padding-left: 10px;
  padding-right: 10px;
}

.profile__label {
  font-size: 26px;
  font-weight: 500;
  padding-left: 0;
}
