/* table {
  
  margin-top: 60px;
}

.table-container table {
  border-collapse: collapse;
  border-spacing: 0;
}

.table-container th,
.table-container td {
  border: 1px solid black;
  padding: 4px 60px 4px 60px;
  text-align: center;
}

.table-container th {
  background-color: darkslategrey;
  color: #fff;
}

tr:nth-child(even) {
  background-color: darkgrey;
} */

.tableContainer {
  margin-top: 60px;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.th,
.td {
  border: 1px solid black;
  padding: 4px 60px;
  text-align: center;
}

.th {
  background-color: darkslategrey;
  color: #fff;
}

.trEven {
  background-color: darkgrey;
}
